

.nav {

   justify-content: center;
}

li {

    padding-left: 1%;
    padding-right: 1%;

}

a.nav-link {
    
    text-decoration: none;
    color:white; 
}

a.nav-link.active {

    background-color: transparent;
    color:chartreuse ;

}


div {

    font-size: large;    
    text-align: center;
    background-color:darkolivegreen;    
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    
}

.dropdown-menu {

    background-color: darkolivegreen ;
    border-radius: 0px;
    
}
.dropdown-item:hover {

    background-color: transparent ;
    color: chartreuse;

    
}


.dropdown-item {

    color: white;

}